/* custom styles can go here */

#chapter-foo p {
	text-transform: uppercase;
}

.reveal section {
	color: #51646a;
}

.reveal section h2{
	color: #51646a;
}

.reveal section img{ 
   border: 0px;
   box-shadow: 0px 0px #888888;
}

.reveal pre {
        width: 100%;
}
